@page "/"
@using Ros2DotnetUI.Library

<PageTitle>Home</PageTitle>

<h1>ROS2 Dotnet UI library showroom</h1>

<p>ROS2 Dotnet UI is a Blazor component library for AMR handling use-cases and scenarios.</p>
    
<p>The library is mostly built on top of open source MudBlazor UI lib.</p>

<p>Each component is shown on its own page, together with usage tutorial. See the menu.</p>